.main-container {
  padding: 50px 80px 50px 80px;
}

/* .search-container {
  display: flex;
  flex-direction: column;
  padding: 80px;
} */

.search-input {
  width: 100%;
}

/* Detail card page style */

.detail-card {
  background-color: #032541;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.detail-content {
  color: white;
  padding-left: 3%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #136aa3;
  color: white;
}
