.Main-container {
  padding: 50px 80px 50px 80px;
}

.Search-conatiner {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.Search-input {
  width: 100%;
}

/* Detail card page style */

.Detail-card {
  background-color: #032541;
  align-items: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.Detail-content {
  color: white;
  padding-left: 5%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #136aa3;
  color: white;
}
