.footer-container {
  background-color: #032541;
  align-items: center;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.footer-logo {
  width: 15%;
}
.footer-tabs {
  display: flex;
  flex-grow: 0.2;
  justify-content: space-around;
}
.footer-links {
  color: white;
  text-decoration: none;
}
