.Footer-container {
  background-color: #032541;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.Footer-logo {
  width: 15%;
}
.Footer-links {
  color: white;
  text-decoration: none;
  padding-top: 10%;
}
